/* Importação da font que será utilizada no site todo*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: beatifull;
    src: url("../assets/fonts/font-padrao.otf");
}


/* Padronização da fonte,a tamanho, cores, background*/
:root {
    /* Fontes - Familia */
    --font-family-padrao: Manrope;
    --font-family-titulos: beatifull;

    /* Fontes - Tamanhos*/
    --font-size-titulo-pagina: 64px;
    --font-size-titulos-boxs:16px;
    --font-size-textos: 14px;
    --font-size-textos-pequenos: 12px;
    --font-size-textos-sem-foco: 10px;

    /* Fontes - Cores */
    --color-font-um: #000000;
    --color-font-dois:#86674A;
    --color-font-tres: #FFFFFF;
    --color-font-quatro:#EEECDF;


    /* Configuração para as cores das sessões */
    --backcolor-primeira: #F8F6F6; 
    --backcolor-segunda: #C6C3B7; 
    --backcolor-terceira: #EEECDF; 
    --backcolor-quarta: #88917B; 
    --backcolor-quinta: #86674A; 
}

/* Ajuste geral da página */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; 
    overflow-x: hidden;
}

/* Ajuste no container geral da minha página */

footer {
    background-color: var(--backcolor-terceira);
    padding: 10px;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    height: 15rem;
    margin: auto;
    padding-top: 40px;
}

.footer-bottom {
    text-align: center;
}


/* Personalizar os icones  das redes sociais e contato */

.lista-icones-footer {
    display: flex;
    justify-content: space-between;
}

.icones-rede-social-font {
    width: 30px;
    color: rgba(159, 94, 46, 1);
}


/* Informações do Time */
.nosso-time-footer {
    display: flex;
    flex-direction: column;
}

.titulo-nosso-time-footer, .titulo-atendimento-footer, .titulo-redes-sociais-footer, .titulo-contato-footer {
    font-family: var(--font-family-titulos);
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
}

.icones-contato-footer {
    padding-top: 20px;
}

.texto-descritivo-footer {
    font-family: var(--font-family-padrao);
    text-align: center;
    line-height: 170%;
    font-size: 14px;
}

/* Botão para direcionar para a página do time */

.botao-pagina-time {
    background-color: var(--backcolor-quarta);
    color: var(--backcolor-quinta);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 20px;
    width: 200px;

}
  
/* Estilo para o botão de envio ao passar o mouse */
.botao-pagina-time:hover {
    background-color: #86674A;
    color: #f9f9f9;
}