/* Importação da font que será utilizada no site todo*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: beatifull;
    src: url("../../assets/fonts/font-padrao.otf");
}


/* Padronização da fonte,a tamanho, cores, background*/
:root {
    /* Fontes - Familia */
    --font-family-padrao: Manrope;
    --font-family-titulos: beatifull;

    /* Fontes - Tamanhos*/
    --font-size-titulo-pagina: 64px;
    --font-size-titulos-boxs:16px;
    --font-size-textos: 14px;
    --font-size-textos-pequenos: 12px;
    --font-size-textos-sem-foco: 10px;

    /* Fontes - Cores */
    --color-font-um: #000000;
    --color-font-dois:#86674A;
    --color-font-tres: #FFFFFF;
    --color-font-quatro:#EEECDF;


    /* Configuração para as cores das sessões */
    --backcolor-primeira: #F8F6F6; 
    --backcolor-segunda: #C6C3B7; 
    --backcolor-terceira: #EEECDF; 
    --backcolor-quarta: #88917B; 
    --backcolor-quinta: #86674A; 
}

/* Ajuste geral da página */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

/* Ajuste no container geral da minha página */
.container-form-contato {
    height: 47em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    background: linear-gradient(to bottom, #EEECDF 80%, #88917B 20%);
}



/* Título da minha página */
.titulo-direito-contato {
    font-family: var(--font-family-titulos);
    font-weight: 200;
    color: var(--color-font-dois);
    text-align: center;
    padding-bottom: 20px;
    font-size: 64px;
    text-transform: uppercase;
    text-align: end;
    padding-bottom: 30px;
}


/* Lado esquerdo */


.form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
}

.form-pagina-contato {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 42rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


.form-pagina-contato form {
    display: block;
    gap: 5px; 
}
  
.form-pagina-contato label {
    margin-bottom: 5px;
    padding-right: 20px;
    align-items: center;
    display: block;
}
  
.form-pagina-contato input,
.form-pagina-contato textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    display: block;
}

.form-pagina-contato textarea {
    height: 80px;
}
  
.form-pagina-contato .error {
    color: red;
    font-size: 12px;
    padding-left: 20px;
}


/* Botão */

.box-botao-form-contato {
    text-align: center;
}

.form-pagina-contato .botao-form-contato {
    padding: 10px 20px;
    background-color: rgba(159, 94, 46, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 170px;
}
  
.form-pagina-contato .botao-form-contato:hover {
    background-color: rgba(159, 94, 46, 1);
}

  
.form-pagina-contato p {
margin-top: 20px;
font-weight: bold;
}

/***********************************************************/

/* Lado direito */

/* Geral */
.box-texto-imagem-contato {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    gap: 30px;
}
  

/* Imagem da página */
.imagem-pagina-contato {
    width: 800px;
    height: 300px;
}

.subtitulo-direito-contato {
    font-family: var(--font-family-titulos);
    font-size: 24px;
    text-align: end;
    padding-bottom: 30px;
}

.descrito-direito-contato {
    font-family: var(--font-family-padrao);
    font-size: 16px;
    text-align: end;
    line-height: 170%;
}

