/* Importação da font que será utilizada no site todo*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: beatifull;
    src: url("../assets/fonts/font-padrao.otf");
}


/* Padronização da fonte,a tamanho, cores, background*/
:root {
    /* Fontes - Familia */
    --font-family-padrao: Manrope;
    --font-family-titulos: beatifull;

    /* Fontes - Tamanhos*/
    --font-size-titulo-pagina: 64px;
    --font-size-titulos-boxs:16px;
    --font-size-textos: 14px;
    --font-size-textos-pequenos: 12px;
    --font-size-textos-sem-foco: 10px;

    /* Fontes - Cores */
    --color-font-um: #000000;
    --color-font-dois:#86674A;
    --color-font-tres: #FFFFFF;
    --color-font-quatro:#EEECDF;


    /* Configuração para as cores das sessões */
    --backcolor-primeira: #F8F6F6; 
    --backcolor-segunda: #C6C3B7; 
    --backcolor-terceira: #EEECDF; 
    --backcolor-quarta: #88917B; 
    --backcolor-quinta: #86674A; 
}

/* Ajuste geral da página */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    overflow-x: hidden; /* Evita a rolagem horizontal */
}

.container-marketing {
    background-color: var(--backcolor-quarta);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*border: 5px solid blue;*/
    justify-content: center;
    align-items: center;
}

/* Título da página */

.titulo-marketing {
    font-family: var(--font-family-titulos);
    color: #000000;
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 200;
    padding-top: 60px;
    padding-right: 470px;
}

/* Segunda box - Onde consta a imagem */
.imagem-produto-principal-marketing {
    /*border: 5px solid green;*/
    width: 1000px;
    height: auto;
    padding-top: 40px;
    opacity: 80%;
}

.container-info-segundo-box-marketing{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Criação de uma div para fazer uma linha */

.linha {
    width: 100%;
    height: 1px; /* Altura da linha */
    background-color: #000000;
    margin: 0 auto; /* Centralizar horizontalmente */
}

/* Texto descritivo do produto */
.container-info-terceiro-box-marketing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    text-align: center;
    line-height: 150%;
}

/* Título descrição do produto */
.titulo-descrito-produto {
    font-family: var(--font-family-padrao);
    font-size: 21px;
    text-align: center;
    padding-top: 20px;
}

/* Descrição */
.paragrafo-descritivo-produto {
    font-family: var(--font-family-padrao);
    font-size: 14px;
    margin: 20px;
}